node_modules/
/dist
coverage/
**/.dockerignore
**/.env
**/.env.*
**/.git
**/.gitignore
**/docker-compose*
.prettierrc.json
.prettierignore
.husky
/.vscode
README.md
LICENSE
/src/Database/migrate/polygons/grid_output.json