**後端應用用 src下**
MYSQL_HOST=*****
MYSQL_PORT=*****
MYSQL_DATABASE=*****
MYSQL_USER=*****
MYSQL_PASSWORD=*****
BACKEND_PORT=*****
JWT_SECRET=*****

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://localhost:3000/api/auth/callback/google
GOOGLE_OAUTH_URL=https://accounts.google.com/o/oauth2/v2/auth
GOOGLE_ACCESS_TOKEN_URL=https://oauth2.googleapis.com/token

REDIS_PORT=6379
REDIS_HOST=pmap_redis_container

MQ_HOST=pmap_mq_container
MQ_PORT=1883
