**後端應用用 src下**
MYSQL_HOST=*****
MYSQL_PORT=*****
MYSQL_DATABASE=*****
MYSQL_USER=*****
MYSQL_PASSWORD=*****
BACKEND_PORT=*****
BACKEND_DOMAIN=*****
JWT_SECRET=*****

S3_BUCKET_REGION=*****
AWS_ACCESS_KEY_ID=*****
AWS_SECRET_ACCESS_KEY=*****
BUCKET_NAME=*****

REDIS_PORT=*****
REDIS_HOST=*****

MQ_HOST=*****
MQ_PORT=*****

SNS_AWS_ACCESS_KEY=****
SNS_AWS_SECRET_ACCESS_KEY=***

SNS_TOPIC_UPDATE_WEATHER=update-weather-dev
AWS_REGION=ap-northeast-1