@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-user-icon img {
    transition: transform 0.2s ease-in-out;
  }
  
  .custom-user-icon img:hover {
    transform: scale(1.2); /* 放大效果 */
  }
  
  .create-subscription-container {
    display: flex;
    flex-direction: column;
    height: 90vh; /* 限制容器高度 */
  }
  
  .create-subscription-scrollable {
    flex: 1;
    overflow-y: auto; /* 垂直滾動 */
  }